<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Github Web hook issues</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <link href="https://bootswatch.com/4/sketchy/bootstrap.min.css" rel="stylesheet">
  <body>
      {{{body}}}
</body>
</head>
</html>