.issue {
    display:flex;
    flex-direction:column;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(192, 91, 45, 0.93);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.containe {
    padding: 2px 16px;
    font-family: comic sans-serif;
}

.wrap {
    width: 500px;
    margin: auto;
    margin-top: 70px;
}
.issuecard {
    box-shadow: 0 4px 8px 0 rgba (0, 0, 0, 0.6);
    transition: 0.4s;
    width: 300px;
    background: #ECEBEB;
    text-align: center;
    font-size: 16 px;
    font-family: sans-serif;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(192, 91, 45, 0.93);
    transition: 0.3s;
}
